<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mall.mapper.MoodModelMapper">
    <resultMap id="MoodModel" type="mall.entity.MoodModel">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    </resultMap>
    <select id="findAll" resultMap="MoodModel">
        select * from boring_moodmodel where  1=1 limit 6;
    </select>
</mapper>